{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 80px;">
        <div class="row clearfix">
            <div class="col-md-12 column " style="text-align: center">
                <h2>WEBSITE COURSE</h2>

                <div class="jumbotron">
                    <p>Back-end: Flask+Gunicorn+Supervisor</p>
                    <p>Fore-end: Bootstrap</p>
                    <img src="/static/1505922753232.jpg" class="img-responsive  img-rounded center-block">
                    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}