{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container" style="padding-top: 80px;">
        <div class="row clearfix">
            <div class="col-md-12 column " style="text-align: center">
                <h2>flask+supervisor</h2>
                <blockquote>暗淡轻黄体性柔，情疏迹远只香留。何须浅碧深红色，自是花中第一流。</blockquote>
                <br>
                <img src="/static/1505922753232.jpg" class="img-responsive  img-rounded center-block">
            </div>
        </div>
    </div>

{% endblock %}