{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-success" style="width: 100%">
                        阴谋生成中
                    </div>
                </div>
            </div>

        </div>
        <div class="jumbotron">
            <h1>Jumbotron</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
                content or information.</p>
            <img src={{ url_for('static',filename='IMG.jpeg') }}>
            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
    </div>

{% endblock %}
